<html>
<head>

<title>lights camera action - midterm</title>
	<script src="/libs/Three.js"></script>
	<script src="/libs/jquery-1.6.4.js"></script>
	<script src="/libs/jquery.mousewheel.js"></script>
	<script src="/fonts/helvetiker_regular.typeface.js"></script>
	<script src="/Jeff/midterm.js"></script>

</head>

<body>
	<div id="container" style="width:98%; height:98%; overflow:hidden; position:absolute"></div>
</body>
</html>